#root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	line-height: 1.6;
	background-color: #fff;
	color: #0d1117;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.title {
	padding: 10px;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column; /* Cambiar a una columna en dispositivos pequeños */
		align-items: center; /* Centrar los elementos en la columna */
	}
}
